body {
    width: 80%;
    margin: 0 auto;
    font-family: osward, Verdana, sans-serif;
    font-size: 90%;
    color: #000;
    background-color: #f8f8f8;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
}

#main-header {
    grid-area: 1 / 1 / 2 / 7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto)
}

#main-header .title {
    grid-area: 1 / 1 / 2 / 5;
    justify-self: center; /*NO text-align*/
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 30px 40px;
    padding: 5px 5px;
    border-top: 3px double red;
    border-bottom: 3px double red;
}

#main-header nav {
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 560;
    margin: 0 0 20px;
}

#main-header nav a {
    color: #242424;
    text-transform: uppercase;
    text-decoration: none;
}

#main-header nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-style: double;
    text-decoration-color: red;
}

.blog {
    grid-area: 2 / 1 / 3 / 7;  
    justify-content: center;
    padding: 0 50px 0;
    min-height:650px;
    overflow: hidden;
    text-align: justify;
}

article h2 {
    color: #242424;
    width: 455px;
    padding-bottom: 5px;
    border-bottom: 3px double red;
}

article p {
    display: inline-block;
    margin: 0 0 10px;
    line-height: 25px;
}

article .quote {
    
    display: block;
    width: 60%;           /*To center a block*/
    text-align: center;
    margin: 15px auto 30px;
    border-top: 3px double red;
    border-bottom: 3px double red;
    padding: 10px 10px;    
}

.temple {
    display: block;
    width: 100%;
    margin-left: -40px;
    overflow: hidden;
}

.blog-link {
    padding: 10px 15px;
    min-width: 100px;
    background: #e59866;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

footer {
    grid-area: 3 / 1 / 4 / 7;
    font-size: 13px;
    color: #8e8e8e;
    text-align: left;
}

footer div {
    border-top: 4px double red;
    height : 5px;
    margin: -15px 0 0 0;
}